@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'), 
        url('/fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #C7C7C8;
    --second-color: #A0A0A5;
    --body-bg-color: #121212;
    
    --card-bg-color: #1C1C22;
    --box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
    
    --scroll-bar-color: #404040;
    --scroll-thumb-color: #606680;
    --scroll-thumb-hover-color: #80849B;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--body-bg-color);
    color: var(--first-color);
    padding: 0 0.6rem;
}

body,
input,
button{
    font-family: 'JetBrains Mono', monospace;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

section{
    overflow: hidden;
    padding: 1.6rem 0;
}

header{
    width: 100%;
    z-index: 50;
}

nav{
    width: 100%;
    z-index: 10;
    position: relative;
}

.container{
    max-width: 80.35rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

nav .container{
    padding: 1rem 4rem;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo .name{
    color: var(--second-color);
    font-size: 3rem;
    font-weight: 800;
}

.container .search-location{
    flex: 1;
    text-align: center;
}

.container .search-location input{
    width: 100%;
    background: none;
    padding: 0.8rem 1.2rem;
    outline: none;
    border: 2px solid var(--second-color);
    border-radius: 0.6rem;
}

.search-location input[type="text"]{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.search-location{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.search button{
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--first-color);
}

.main-data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    background: var(--card-bg-color);
    border-radius: 0.6rem;
}

.data{
    line-height: 1.4;
    padding: 0.6rem 1rem;
}

.data .location-name{
    font-size: 1.6rem;
    font-weight: 600;
}

.data .temperature{
    font-size: 3.5rem;
    font-weight: 800;
}

.weather-icon{
    max-width: 300px;
    height: auto;
}

.complemetary-data{
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: 500;
}

.hr{
    width: 100%;
    height: 2px;
    background: var(--first-color);
    opacity: 0.1;
    margin: 0.4rem auto;
}

.weather-highlights{
    border-radius: 0.6rem;
}

.weather-details{
    width: 100%;
    padding: 0.6rem 1rem;
}

.highlights-title{
    text-align: center;
}

.cards{
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 0.6rem;
}

.card_info{
    border: 1px solid;
    border-radius: 0.6rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-bg-color);
}

.card_info img{
    max-width: 100px;
    height: auto;
}

/* footer */
.footer-content{
    padding: 2rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
}

.footer-content span > a{
    color: var(--second-color);
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    nav .container{
        padding: 0.6rem 2rem;
        justify-content: center;
    }

    .logo .name{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 660px) {
    .main-data{
        justify-content: center;
    }
}

@media screen and (max-width: 580px) {
    nav .container{
        flex-direction: column;
    }
}


@media screen and (max-width: 560px) {
    .main-data{
        justify-content: space-between;
        gap: 0.5rem;
    }

    .data .location-name{
        font-size: 1.5rem;
    }

    .data .temperature{
        font-size: 2.25rem;
    }

    .complemetary-data{
        font-size: 0.95rem;
    }

    .weather-icon{
        max-width: 220px;
    }
}

@media screen and (max-width: 425px) {
    nav .container{
        padding: 0.6rem 1rem;
    }

    .logo .name{
        font-size: 2rem;
    }

    .search button{
        padding: 0.6rem 0.8rem;
        font-size: 0.8rem;
    }

    .search-location input[type="text"]{
        padding: 0.6rem 0.8rem;
        font-size: 0.8rem;
    }

    .main-data{
        justify-content: space-between;
    }

    .data .location-name{
        font-size: 1.4rem;
    }

    .data .temperature{
        font-size: 2.5rem;
    }

    .complemetary-data{
        font-size: 0.85rem;
    }

    .weather-icon{
        max-width: 150px;
    }

    .weather-details{
        padding: 0.6rem;
    }
}

@media screen and (max-width: 375px) {
    .main-data{
        gap: 0.2rem;
    }

    .data .location-name{
        font-size: 1.4rem;
    }

    .data .temperature{
        font-size: 2rem;
    }

    .complemetary-data{
        font-size: 0.85rem;
    }

    .weather-icon{
        max-width: 150px;
    }

    .highlights-title{
        font-size: 1.25rem;
    }

    .cards{
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }

    .card_info .card-title,
    .card_info .card-value{
        font-size: 0.85rem;
    }

    .card_info img{
        max-width: 75px;
    }
}

@media screen and (max-width: 350px) {
    .main-data{
        justify-content: center;
    }
}

@media screen and (max-width: 330px) {
    .main-data{
        justify-content: space-between;
    }
    .weather-icon{
        max-width: 125px;
    }

    .data .location-name{
        font-size: 1.2rem;
    }

    .data .temperature{
        font-size: 1.6rem;
    }

    .complemetary-data{
        font-size: 0.65rem;
    }

    .data{
        padding: 0.6rem;
    }
}